:root {
  --cardbackgr: #eeeeee;
}

.tributeCard {
  background-color: var(--cardbackgr);
  margin: 3rem 0.3rem;
  border-radius: 4px;
  padding: 2rem;
}

header {
  text-align: center;
}

main section:nth-child(1) {
  background: white;
}
