@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

/* :root {

} */

/* Set the background img and the position of internal elements with flexbox */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(study-group.jpg);
  background-position: center;
  font-family: "Poppins", sans-serif;
}

/* Filter for the background img */
.filter {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: rgba(47, 12, 172, 0.67);
}

/* Creo el div negro de fondo */
main {
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 2rem;
}

/* El form debe tener un ancho menor al de main para crear un espacio entre el borde y el input */
form {
  width: 90%;
  margin: auto;
  color: white;
}

p,
.text_label {
  display: block;
  font-size: 1.125rem;
}

/* .text_label {
  margin-top: 20px;
} */

/* Estética de los input y label */
form input[type="text"],
select {
  width: 100%;
  height: 35px;
  display: block;
  border: none;
  padding-left: 13px;
  border-radius: 3px;
  /* margin-bottom: 20px; */
  margin-top: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

form textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

form button {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  background-color: #37af65;
  text-align: center;
  border: none;
}
